/*CSS für ersten Part: Flex Component Workout */

.flex-component-workout {
  background-color: rgba(241, 198, 54, 0.986);
  padding: 10px;
  border-radius: 8px;
}

h3 {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 10px;
  margin-top: 20px;
}

 .flex-component-workout div {
  background-color: rgb(80, 167, 29);
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

p {
  background-color: rgb(53, 131, 248);
  color: white;
  border-radius: 8px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.no-flex-on-the-children {
  display: flex;
  justify-content: space-between;
}

.equally-spaced {
  display: flex;
  flex-direction: row;
}

.equally-spaced p {
  flex: 1;
}

.one-element-bigger {
  display: flex;
  flex-direction: row;
}

.one-element-bigger p {
  flex: 1;
}

.one-element-bigger p:nth-child(1) {
  flex: 2;
}

.one-element-bigger-one-even-bigger {
  display: flex;
  flex-direction: row;
}

.one-element-bigger-one-even-bigger p {
  flex: 1;
}

.one-element-bigger-one-even-bigger p:nth-child(1) {
  flex: 2;
}

.one-element-bigger-one-even-bigger p:nth-child(2) {
  flex: 3;
}

.one-element-bigger-one-even-bigger p:nth-child(3) {
  flex: 1;
}

/* CSS für zweiten Part: Flex Layout Workout */

.section-nested-flex-example {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: rgb(236, 55, 94);
  color: white;
}

.section-nested-flex-example h3 {
  font-size: 20px;
}

.middle-section {
  background-color: rgba(241, 198, 54, 0.986);
  padding: 2px 2px;
  border-radius: 8px;

  display:flex;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.bottom-section {
  background-color: blueviolet;
  color: white;
  font-size: 10px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
}

.section-one {
    flex: 2;
    background-color: rgb(2, 2, 179);
    padding: 5px 2px 15px 2px;
}

.section-two,
.section-three {
    flex: 1;
    background-color: aquamarine;
    padding: 5px;
}

.section-four {
    flex: 1;
    background-color: rgb(49, 198, 218);
    padding: 5px;
}
